<table>
    <tbody>
        <tr>
            <th>Title:
            </th>
            <td>
                <%= meeting.title %>
            </td>
        </tr>
        <tr>
            <th>Time:
            </th>
            <td>
                <%= meeting.startTime %> ~ <%= meeting.endTime %>
            </td>
        </tr>
        <tr>
            <th>Department:
            </th>
            <td>
                <%= meeting.department %>
            </td>
        </tr>
        <tr>
            <th>Room:
            </th>
            <td>
                <%= meeting.room %>
            </td>
        </tr>
        <tr>
            <th>Name:
            </th>
            <td>
                <%= meeting.name %>
            </td>
        </tr>
        <tr>
            <th>Phone:
            </th>
            <td>
                <%= meeting.phone %>
            </td>
        </tr>
    </tbody>
</table>
